<!--<div class='top-bar' sdBackButton>
    Go Back To Results
</div>-->
<nav class="navbar navbar-default top-bar">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a sdBackButton><span class="glyphicon glyphicon-arrow-left"></span></a></li>
            <li><p class="navbar-text">Back to previous page</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<sd-loading-bar *ngIf="loading"></sd-loading-bar>

<div *ngIf="profile === undefined" >
    <p>Person profile could not be shown</p>
</div>

<div class="container" *ngIf="profile !== undefined">
    <!--Name-->
    <div class="row">
        <label for="displayName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10" >
            <p>{{profile.name.title}} {{profile.name.first}} {{profile.name.last}}</p>
        </div>
    </div>
    <!--Department-->
    <div class="row">
        <label for="displayDeparment" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
        <p>{{profile.department}}</p>
        </div>
    </div>
    <!--Email-->
    <div class="row">
        <label for="displayEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
        <p>{{profile.email}}</p>
        </div>
    </div>
    
    <!--Keywords-->
    <label for="displayKeywords" class="col-form-label">Keyword Sample</label>
    <div *ngFor="let word of displayKeywordList">
        - {{word}}
        <progressbar class="progress"
                [value]="sigmoid(profile.keywords[word])"
                max="100">
                {{profile.keywords[word]}}
        </progressbar>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"
                        (click)="openMoreModal()">More Insight</button>
        </div>
    </div>


    <!--Papers-->
    <!--<div class="row">
        <label for="displayPapers" class="col-sm-2 col-form-label">Papers</label>
        <div class="col-sm-10 word-wrap">
            <li *ngFor="let paper of getPublications">{{paper}}</li>
        </div>
    </div>-->
</div>

<sd-keyword-grid-modal #myModal 
            [keywords]="keywordList"
            (keywordsSubmit)="onEditKeyword($event)">
</sd-keyword-grid-modal>

