<div class="container">
    <div class="left-container unselectable" #leftContainer>
        <!--<button class="btn btn-primary btn-toggle btn-sm" (click)="toggleRight()">Toggle Right Bar</button>-->
        <div *ngIf="home_route">
            <div class="logo">
                <img src="../../assets/logo_full.svg" alt="Oblong Icon" class="img" width="1000" height="500">
            </div>
            <!--<button class="btn btn-primary btn-lg btn-login" (click)="onLoginButtonPress()">Login</button>-->
            <div class="search">
                <sd-search-bar [query]="results_query"></sd-search-bar>
            </div>
            <div class="tagline">
                <h3>{{tagline}}</h3>
            </div>
        </div>
        <div class="logo-corner">
            <sd-user-nav-menu></sd-user-nav-menu>
        </div>
        <div class ="graph">
            <sd-graph [context]="graph_context"
                      [content]="graph_content"
                      (pointClick)="onGraphPointClick($event)">
            </sd-graph>
        </div>
    </div>
    <div class="right-container" [hidden]="!right_open" #rightContainer>
        <div class="results" *ngIf="results_route">
            <sd-results [query]="results_query"></sd-results>
        </div>
        <div class="profile" *ngIf="profile_route">
            <sd-profile [id]="profile_url_id"></sd-profile>
        </div>
    </div>
</div>
