<!--Main Display Modal-->
<modal #myModal [size]="'lg'"
                (onClose)="onClose()" 
                (onDismiss)="onClose()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Modify Keywords</h4>
    </modal-header>
    <modal-body>
        <div>
            <input
                type='text'
                class='form-control'
                placeholder='Filter by Keywords...'
                (keyup)='updateDatatableFilter($event)'
            />
            <ngx-datatable
                class='material'
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [rows]='rows'>
                <ngx-datatable-column name="Keyword">
                    <template let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                    </template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Edit">
                    <template let-row="row" ngx-datatable-cell-template>
                        <div class="form-group">
                            <select class="form-control" id="exampleSelect1">
                            <option value="0">Ok</option>
                            <option value="1">Irrelevant</option>
                            <option value="2">Garbage</option>
                            </select>
                        </div>
                    </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Confirm">
                    <template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-default">Submit</button>
                    </template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="modal.close()">Save</button>
    </modal-footer>
</modal>
