<!--Main Display Modal-->
<modal #myModal [size]="'lg'"
                (onClose)="onClose()" 
                (onDismiss)="onClose()">
    <modal-header [show-close]="true">
        <h4 class="modal-title" *ngIf="isTab(0)">Profile Insight</h4>
        <h4 class="modal-title" *ngIf="isTab(1)">Modify Keywords</h4>
        <p>These keywords were gained through text mining of academic literature</p>
    </modal-header>
    <modal-body>
        <div class="chart-container" [hidden]="!isTab(0)">
            <canvas #keyworddisplay></canvas>
        </div>
        <div class="grid-container" *ngIf="isTab(1)">
            <input
                type='text'
                class='form-control'
                placeholder='Filter by Keywords...'
                (keyup)='updateDatatableFilter($event)'
            />
             <ngx-datatable
                class='material'
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [rows]='rows'>
                <ngx-datatable-column name="Keyword">
                    <template let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                    </template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Edit">
                    <template let-row="row" ngx-datatable-cell-template>
                        <div class="form-group">
                            <select class="form-control" name="select" [ngModel]="row.edit" *ngIf="row.edit !== 3"(change)="selectChange(row, $event)" id="exampleSelect1">
                                <option value="0">Ok</option>
                                <option value="1">Irrelevant</option>
                                <option value="2">Garbage</option>
                            </select>
                            <p *ngIf="row.edit === 3">New Keyword</p>
                        </div>
                    </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Confirm">
                    <template let-row="row" ngx-datatable-cell-template>
                        <div class="{display:'inline';}"*ngIf="row.edit !== 0">
                            <button type="button" class="btn btn-default" (click)="submitRow(row)">Submit</button>
                            <p [hidden]="!row.submit">Submitted</p>
                        </div>
                    </template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </modal-body>
    <modal-footer>
        <div class="btn-group" role="group" style="float: left;" aria-label="...">
            <button type="button" class="btn btn-default" (click)="displayTab=0">Profile Insight</button>
        </div>
        <div class="btn-group" role="group" style="float: left;" aria-label="...">
            <button type="button" class="btn btn-default" (click)="displayTab=1" *ngIf="loggedin">Modify Keywords</button>
            <button type="button" class="btn btn-default" (click)="addKeyword()" *ngIf="isTab(1)">Add Keywords</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="modal.close()" *ngIf="isTab(0)">Ok</button>
        <button type="button" class="btn btn-primary" (click)="saveEditKeywords()" [disabled]="!edited" *ngIf="isTab(1)">Save</button>
    </modal-footer>
</modal>

<sd-add-keyword-modal #addKeywordModal
            (onAdd)="onAddKeyword($event)">
</sd-add-keyword-modal>
