<div class='top-bar' sdBackButton>
    Go Back To Results
</div>

<sd-loading-bar *ngIf="loading"></sd-loading-bar>

<div *ngIf="profile === undefined" >
    <p>Person profile could not be shown</p>
</div>

<div class="container" *ngIf="profile !== undefined">
    <!--Name-->
    <div class="row">
        <label for="displayName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10" >
            <p>{{profile.name.title}} {{profile.name.first}} {{profile.name.last}}</p>
        </div>
    </div>
    <!--Department-->
    <div class="row">
        <label for="displayDeparment" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
        <p>{{profile.department}}</p>
        </div>
    </div>
    <!--Email-->
    <div class="row">
        <label for="displayEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
        <p>{{profile.email}}</p>
        </div>
    </div>
    <!--Keywords-->
    <label for="displayKeywords" class="col-form-label">Keywords
        <a (click)="editKeywordsLinks()">Add Keywords</a>
    </label>
    <div class="keywordinput">
        <form *ngIf="keywordInput" (ngSubmit)="submitNewKeyword($event)" #queryform="ngForm">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="{{placeholder}}" 
                        [(ngModel)]="keywordInputKeyword" name="query" id="query">
                <span class="input-group-btn" id="query">
                    <button class="btn btn-secondary glyphicon glyphicon-search" type="submit"></button>
                </span>
            </div>
        </form>
    </div>
    <!--<sd-word-cloud *ngIf="hasProfileKeywords()" [words]="profile.keywords"></sd-word-cloud>            -->
    <li *ngFor="let word of keywordList">{{word}}: {{profile.keywords[word]}}</li>

    <!--Papers-->
    <div class="row">
        <label for="displayPapers" class="col-sm-2 col-form-label">Papers</label>
        <div class="col-sm-10 word-wrap">
            <!--<li *ngFor="let paper of getPublications">{{paper}}</li>-->
        </div>
    </div>
</div>

