<template #popTemplate>
    <div class="pp-template">
        <button type="button" (click)="home()" class="btn btn-primary btn-menu btn-lg">
            Home
        </button>
        <div class="pp-user-option">
            <div *ngIf="!isloggedin()">
                <button type="button" (click)="login()" class="btn btn-default btn-menu btn-lg">
                        Login
                </button>
            </div>
            <div *ngIf="isloggedin()">
                <button type="button" (click)="logout()" class="btn btn-default btn-menu btn-lg">
                        Logout
                </button>
                <button type="button" (click)="profile()"class="btn btn-default btn-menu btn-lg">
                        Profile
                </button>
            </div>
        </div>
    </div>
</template>
<a #dropdown title="Click for user options!"
            [popover]="popTemplate"
            placement="right"
            container="body">
    <img src="../../assets/logo.svg" alt="Oblong Icon" class="img-corner" width="1000" height="500">
</a>

