<span dropdown>
    <a href id="user-dropdown" dropdownToggle title="Click for user options!"s>
        <img src="../../assets/logo.svg" alt="Oblong Icon" class="img-corner" width="1000" height="500">
    </a>
    <ul class="dropdown-menu" dropdownMenu aria-labelledby="user-dropdown">
        <li role="menuitem"><a class="dropdown-item">Home</a></li>
        <li role="menuitem"><a class="dropdown-item">Login</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item">My Profile</a></li>
    </ul>
</span>
            <!--<a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" 
               [routerLinkActiveOptions]="{exact:true}" title="Return to Home page">
                <img src="../../assets/logo.svg" alt="Oblong Icon" 
                        class="img-corner" width="1000" height="500">
            </a>-->
