<p>Oblong is a text mining service that collates expertise information from Academics at Universities from all the different databases of Academic Publications that exist on the web.</p>
<p>This service is designed to be easy to intuitive and easy to use, example of search queries include:</p>
<ul>
  <li>Find me a researcher with expertise in Robotics</li>
  <li>I am looking for a member of staff who has recently written about OsteoArthritus</li>
</ul>

<h2>Features</h2>
<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
